@model IEnumerable<DormWebApplication.Inhabitant>

@{
    ViewData["Title"] = "Мешканці за категорією";
}

<h1>Мешканці за категорією @ViewBag.CategoryName</h1>

<p>
    @Html.ActionLink("Додати нового мешканця","Create",new{categoryId= @ViewBag.CategoryId })
    <a asp-action="Create" asp-route-id="@ViewBag.CategoryId">Додати нового мешканця</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Act)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Act)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
