@model BookStore_WebApplication.Order

@{
    ViewData["Title"] = "Details";
}

<h4>Інформація про замовлення</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDeliveryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDeliveryNavigation.DeliveryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmployeeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmployeeNavigation.FullName)
        </dd>
        <dt class="col-sm-2">
            <label>Замовлені книги</label>
        </dt>
        <dd class = "col-sm-10">
            @foreach(var item in ViewBag.Books)
                {
                   @item
                   <br />
                }           
        </dd>
    </dl>
</div>

@{
  if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
     {
         <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a> |
            <a asp-action="Index">Назад</a>
        </div>
     }
     else
     {
         <div>
            <a asp-action="Add" asp-controller="UserOrders" asp-route-id="@Model?.Id">Змінити</a> |
            <a asp-action="Index" asp-controller="UserOrders">Назад</a>
        </div>
     }
}

