@model DormWebApplication.Floor

@{
    ViewData["Title"] = "Delete";
}

<h3>Ви справді хочете видалити поверх?</h3>
<div>
    <h4>Поверх №@Model.FloorNumber</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiefId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKitchenOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKitchenOpen)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
