@model IEnumerable<DormWebApplication.Floor>

@{
    ViewData["Title"] = "Index";
}

<h3>Поверхи</h3>

@if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
<p>
    <a asp-action="Create">Створити новий</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiefId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsKitchenOpen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiefId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsKitchenOpen)
            </td>
                @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    </td>
                }                
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/Chart/JsonData1', function(JsonData_Floors) {
                data = google.visualization.arrayToDataTable(JsonData_Floors, false);
                var option = {
                    title: "Співвідношення кількості студентів на поверхах",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }

    </script>
}