@model DormWebApplication.Duty

@{
    ViewData["Title"] = "Details";
}

<h3>Детальніше про чергових</h3>

<div>
    <h4>Вахта</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coworker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coworker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a> |
    <a asp-action="Index">Назад</a>
</div>
